<label for="rating"> 1<input type="radio" name="rating[cooking]" value="1">
  2<input type="radio" name="rating[cooking]" value="1">
  3<input type="radio" name="rating[cooking]" value="1">
  4<input type="radio" name="rating[cooking]" value="1">
  5<input type="radio" name="rating[cooking]" value="1">



</label>
