/*html, body, aside, h1, h2, ol, footer{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/

body {
  font: Arial, sans-serif;
  background-color: #FEFFF1;

}
h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered Lsit element */
ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

header > img {
  /*display: inline-block;*/
  width: 100px;
}

.ingredients-list {
  list-style: square inside;

}
ol {
  list-style:  upper-roman inside;
}


h4 .user_review {
  font-size: 18px;
font-weight: bold;

}

/*header ul li a {
  display: block;
  padding: 20px;
}
header ul li {
  display: inline-block;
}*/



  /*Use the classic centering trick margin: 0 auto to center the body.
  Give the main section a 700px width and the aside a width of 180px*/
/*body {
  display: inline-block;
  width: 700px;
  margin: 0 auto;
}*/


input[type="radio"] {
        -webkit-appearance: none;
        width: 27px;
        height: 27px;
        cursor: pointer;
        background-image: url(../assets/stars.png);
        vertical-align: bottom;
        outline: none;
    }
input[type="radio"]:checked {
  background-position: 30px 30px;
}

input[type = "submit"]{
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  vertical-align: bottom;
  outline: none;
}

input:last-child {
  background: gold;
}
input[type = "submit"]:last-child:hover {
  -webkit-filter: brightness(90%);

}
ol li:nth-of-type(2n) {
    background-color: whitesmoke;
}

h2 + .user_review {
  font-size: 18px;
 font-weight: bold;
  border-top: : 1px solid black;
}

nav {
  display: inline-block;
}

nav ul li {
    display:  inline-block;
}

nav ul li a {
    padding: 20px;
    display: block;
}
body {
    margin: 0 auto; /* Common Centering Technique */
    width: 900px;
}

section {
    width: 700px;
    display: inline-block;
    vertical-align: top;
}


aside {
  display: inline-block;
  margin-right: 15px;
  width: 180px;
  /*padding: 100px;*/
}

.ingredients-list li {
  margin: 15px 0px;
}

input[type="text"], select{
  display: block;
  -webkit-appearance: none;
  width: 175px;
  /*height: 27px;*/
  cursor: pointer;
  vertical-align: bottom;
  outline: none;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}

label {
  display: block;
}

/*Make our list elements in the nav menu into inline-block elements.
Give the links in those list elements a padding on all sides of 20px and change their display property to correct their inherent behavior.
Pick the correct display property to position the nav next to the logo.
Set our main content region by giving the body a width of 900px.
Use the classic centering trick margin: 0 auto to center the body.
Give the main section a 700px width and the aside a width of 180px.
Apply a display property to position the aside and section next to each other. Space them out with a 15px margin-right on the aside.
If you find your ingredients list aligned to the bottom use the developer tools to find and correct the styling.
Space out the list elements in the ingredients list with a top and bottom margin of 15px.
Space out the directions the same way.
Use the display property to put input elements on their own row. At this point it probably looks better to remove the "Cooking Expertise" and "Rating" labels.
Space out the select element with margin and assign widths to the text input, select, and textarea to finish up our form.*/
